body{
    background-color: slateblue !important;
}
.fa-main {
    border-radius: 50%;
    background-color: rgb(55, 135, 226);
    color: rgb(235, 193, 77);
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.main-icon {
    margin-top: 30px;
   font-size: 40px;
}
.center-main {
    text-align: center;
}
.text{
    text-align: center;
    margin: 0 auto;
    color: rgb(3, 3, 10);

}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
   text-align: center;
}
.img-animation img {
    width: 450px;
    height: 400px;
}
.img-animation img:hover {
    animation-name: zoom;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}
.img-animation {
    overflow: hidden;
}

@keyframes zoom {
    from {
        width: 450px;
        height: 400px;
    }
    to {
        transform: scale(1.5);
    }
}
.center {
    text-align: center;
}
.btn {
    background-color: none;
    color: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
}

#menu {
    position: fixed;
    right: 0;
    top: 0;
}
.aa {
    background-image: url(./zdj/ob2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}